@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.font-inter {
  font-family: "Inter";
}

.font-poppins {
  font-family: "Poppins";
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.insta-gradient {
  background: linear-gradient(45deg,  #ffd321 0%,#fa7c15 20%,#f30205 53%,#ba00b2 90%);
}

/* No up down keys on number input */
.no-up-down::-webkit-inner-spin-button,
.no-up-down::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}